.header {
  min-height: 6vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Bai Jamjuree";
  transition: background 0.2s linear;
}

.headerContainer {
  display: flex;
  max-width: 1048px;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
}

.subnav {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.lightswitch {
  height: 20px;
  width: 20px;
}

.logo {
  font-weight: 500;
  font-family: "Bai Jamjuree";
  font-size: 2rem;
  transition: color 0.2s linear;
  padding-left: 24px;
  padding-right: 24px;
}

.logosvg {
  vertical-align: text-top;
}